/* ---------------------------------------------------------------------------------------------------- */
/* --- page structure --------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

body {
    background-color: #FFF;
    color: #434343;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding: 0;
}

.jtk-bootstrap {
  min-height:100vh;
  display:flex;
  flex-direction: column;  
}

.jtk-bootstrap .jtk-page-container {
    display:flex;
    width:100vw;
    justify-content: center;
    flex:1;
  }

  .jtk-bootstrap .jtk-container {
    width: 60%;
    max-width:800px;
  }

  .jtk-bootstrap-wide .jtk-container {
      width: 80%;
      max-width:1187px;
  }

.routing-main {    
    position: relative;
    margin-top:0px;
}

.routing-main .description {
    font-size: 13px;
    margin-top: 25px;
    padding: 13px;
    margin-bottom: 22px;
    background-color: #f4f5ef;
}

.routing-main .description li {
    list-style-type: disc !important;
}

.routing-canvas {    
    height:85vh;
    max-height: 85vh;
    background-color:white;
    display: flex;
    overflow: unset !important;
}

.canvas-wide {
    margin-left:0;
}

.miniview {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 100;
}


.routing-dataset {
    text-align: left;
    max-height: 600px;
    overflow: auto;
}

.controls {
    top: 25px;
    color: #FFF;
    margin-right: 10px;
    position: absolute;
    left: 25px;
    z-index: 1;
}

.controls i {
    background-color: #3E7E9C;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0;
    padding: 4px;
}

li {
    list-style-type: none;
}

/* ------------------------ node palette -------------------- */

.sidebar {
    margin:0;
    padding:0;
    padding-top: 7px;
    padding-right: 10px;
    width:150px;
    float:left;
    text-align:center;
    height: 550px;
    background-color: #84acb3;
}

.sidebar ul li {
    background-color: #234b5e;
    border-radius: 11px;
    color: #f7ebca;
    cursor: move;
    margin-bottom: 10px;
    margin-left: 6px;
    padding: 8px;
    width:128px;
}

.sidebar ul {
    width:100%;
    padding:0;
}

.sidebar ul li:hover {
    background-color: #577a8b;
}

.sidebar i {
    float:left;
}

@media (max-width: 600px) {
    .sidebar {
        float:none;
        height: 55px;
        width: 100%;
        padding-top:0;
    }

    .sidebar ul li {
        display:inline-block;
        margin-top: 7px;
        width:67px;
    }
    .routing-canvas {
        margin-left: 0;
        margin-top:0;
        height:364px;
    }
}

/* ---------------------------------------------------------------------------------------------------- */
/* --- jsPlumb setup ---------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.jtk-connector {
    z-index:9;
}

.jtk-endpoint {
    z-index:12;
    opacity:0.8;
    cursor:pointer;
}

.jtk-overlay {
    background-color: white;
    color: #434343;
    font-weight: 400;
    padding: 4px;
    z-index: 30;
}

.jtk-overlay.jtk-hover {
    color: #434343;
}

path {
    cursor:pointer;
}

.delete {
    padding: 2px;
    cursor: pointer;
    float: left;
    font-size: 10px;
    line-height: 20px;
}

.add, .edit {
    cursor: pointer;
    float:right;
    font-size: 10px;
    line-height: 20px;
    margin-right:2px;
    padding: 2px;
}

.edit:hover {
    color: #ff8000;
}

.selected-mode {
    color:#E4F013;
}

.connect {
    width:10px;
    height:10px;
    background-color:#f76258;
    position:absolute;
    bottom: 13px;
    right: 5px;
}

#status-output {
    height: 80px;
    overflow: auto;
    white-space: pre;
}

.routing .rtp-receiver, .sdi, .audio-delay, .audio-transmitter, .video-delay, .video-transmitter, .crossbar, .audio-src {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.routing .system, .ptp {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px rgb(135, 187, 161);
    -o-box-shadow: 2px 2px 19px rgb(135, 187, 161);
    -webkit-box-shadow: 2px 2px 19px rgb(135, 187, 161);
    -moz-box-shadow: 2px 2px 19px rgb(135, 187, 161);
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.9;
    width: auto;
    height: auto;
    left: 80%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.routing .ptp {
    left: 70%;
}

.parameter-section {
    text-align: left;

}

.routing .jtk-connector {
    z-index: 4;
}

.routing .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 25;
    cursor: pointer;
}

.routing .audio-connector {
    z-index: 21;
}

.routing .video-connector {
    z-index: 20;
}

.routing .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    cursor: pointer;
}

.routing .expanded {
    z-index: 100;
}

.routing .aLabel.jtk-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.window.jtk-connected {
    border: 1px solid green;
}

.jtk-drag {
    outline: 4px solid pink !important;
}

path, .jtk-endpoint {
    cursor: pointer;
}

.jtk-overlay {
    background-color:transparent;
}

.jtk-drag-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
} 